header {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  border-bottom: 2px dashed @navigation-border;

  @media @mobile {
    flex-direction: column;
    padding: 15px 0;
  }

  nav a {
    padding-right: 30px;
    text-decoration: none;
    font-size: 1.6rem;
    color: @font-color;

    @media @mobile {
      padding-right: 40px;
    }
  }
}
